.last__post{
    background: red;
    display: inline-block;
    margin: 0px;
    max-width: 810px;
    padding-bottom: 25px;
    position: sticky;
    top: 0px;
}

.post__card{
    &-thumbnail{
        &--link{
            display: block;
            height: 150px;
            width: 150px;
        }
        &--img{
            border-radius: .45rem;
            height: 150px;
            object-fit: cover;
            width: 150px;
        }
    }
    &--title{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    &-category{
        & a{
            color: var(--ersyRed);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
    }
}


.featured__section{

    @media screen and (max-width: $small) {
        flex-wrap: wrap;
      }
}