:root {
  --ersyRed: #ff1654;
  --ersyYellow: #f3ffbd;
  --ersyGreenLigth: #b2dbbf;
  --ersyGreen: #70c1b3;
  --ersyBlue: #247ba0;
  --ersyDark: #50514f; }

body {
  color: var(--ersyDark); }

a {
  color: var(--ersyBlue);
  text-decoration: none; }
  a:hover {
    color: var(--ersyGreen); }

.header {
  background: var(--ersyRed);
  color: white; }
  .header__title {
    line-height: .95;
    margin: 0; }
  .header__description {
    color: white;
    font-size: .85rem;
    font-weight: 700;
    margin: 0; }
  .header__toggler {
    border: 1px solid white; }
    .header__toggler--icon {
      background-image: url("./img/burguer.svg"); }
    .header__toggler:focus {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
    .header__toggler:focus-visible {
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5); }
  .header__nav {
    background: var(--ersyRed); }
  .header a {
    color: white; }
    .header a:hover {
      color: var(--ersyYellow); }

.first__post {
  display: inline-block;
  margin: 0px;
  max-width: 810px;
  padding-bottom: 25px;
  position: sticky;
  top: 0px; }
  .first__post--thumbnail--link {
    width: 100%;
    height: auto; }

.post__card-thumbnail--link {
  display: block;
  height: 150px;
  width: 150px; }

.post__card-thumbnail--img {
  border-radius: .45rem;
  height: 150px;
  object-fit: cover;
  width: 150px; }

.post__card--title {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  line-height: 1.3; }
  .post__card--title a {
    color: var(--ersyDark); }

.post__card-category a {
  color: var(--ersyRed);
  font-size: .70rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1rem; }

@media screen and (max-width: 400px) {
  .featured__section {
    flex-wrap: wrap; } }

.footer {
  background: var(--ersyBlue);
  color: white; }
  .footer a {
    color: white; }
    .footer a:hover {
      color: var(--ersyGreen); }
